* {
    border: 0 none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* outline-style: solid; */
}

.container {
    display: inline-block;
    width: 800px;
    height: 550px;
    margin: 20px;
}

.header {
    display: inline-block;
    width: 765px;
    padding: 10px 10px 10px 25px;
}

.header #total {
    display: inline-block;
    margin-left: 10px;
    width: 80px;
    border: 2px solid black;
    padding: 5px 80px 5px 5px;
}

.main {
    display: inline-block;
    text-align: center;
    width: 780px;
    padding: 10px;
}

.block {
    display: inline-block;
    width: 165px;
    height: 170px;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}

.block h1 {
    font-size: 15pt;
    padding: 10px;
}

.block p {
    padding: 10px 0px 10px 0px;
    font-size: 11pt;
}

.block form input {
    margin: 30px;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    background-color: whitesmoke;
    font-weight: bold;
    box-shadow: 2px 3px gray;
}

.block button {
    margin: 30px;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    background-color: whitesmoke;
    font-weight: bold;
    box-shadow: 2px 3px gray;
}

.activities {
    display: inline-block;
    width: 750px;
    height: 200px;
    padding: 10px 25px 10px 25px;
}

.activities p {
    padding: 5px 5px 5px 0px;
}

.list {
    height: 175px;
    border: 2px solid black;
}

.list ul {
    height: 165px;
    list-style-position: inside;
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
}

.list ul li {
    font-size: 11pt;
    padding: 2px;
}

.good {
    color: green;
}

.bad {
    color: red;
}

.footer {
    display: inline-block;
    width: 755px;
    text-align: right;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.footer button {
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    background-color: whitesmoke;
    font-weight: bold;
    box-shadow: 2px 3px gray;
}

.stats {
    display: inline-block;
    text-align: left;
    width: 630px;
    padding: 10px;
}